<html>

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap"
        rel="stylesheet">

    <style>
        * {
            color: black;
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body style="background-color: white;">
    <nav style="background-color: #F2F2F2; padding: 15px; font-size: 18px">
        Nullcast
    </nav>
    <p style="text-align: center; font-size: 18px">
        Error Occurd in the bot system
    </p>
    <div style="background-color: #F8F8F8; padding: 10px; border-radius: 8px">
        <p>
            HandlerName : {{HandlerName}}
        </p>
        <p>
            <label style="color: red">error message</label> : {{errorMsg}}
        </p>
        <p>
            <label style="color: rgb(176, 194, 12)">
                call stack Trace
            </label> : {{callstack}}
        </p>
    </div>
    <p>
        This email is for the developer / maintainers. From error handlers of null-bot. Please ensure that your custom
        bot is working normally and inspect the errors.
    </p>
    <footer style="background-color: black; padding: 8px; text-align: center;">
        <p style="color: white;">Powerd by Nullcast / Neoito</p>
    </footer>
</body>

</html>