<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Invitations</title>
    <style>
        * {
            color: black;
            font-family: 'Poppins', sans-serif;
        }

        body {
            background-color: white;
        }
    </style>
</head>

<body>

    <nav style="background-color: #F2F2F2; padding: 15px; font-size: 18px">
        Nullcast
    </nav>
    <p style="text-align: center; font-size: 18px">
        Invitations to Nullcast
    </p>
    <div style="background-color: #F8F8F8;  padding: 10px; border-radius: 8px">
        <p>This is the invitation for nullcast for the mentorship program.
            Please join the nullcast discord channel and then paste
            your member id on the membership joining channel.
        </p>
        <p style="font-size: 32px; text-align: center; color: #838181;">
            124535-ABCS-2021
        </p>
        <div style="display: flex; justify-content: center;">

            <button style="background-color: #1a83e6; /* Green */
                        border: none;
                        color: white;
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px; border-radius: 10px">
                JOIN NULLCAST DISCORD
            </button>

        </div>


    </div>
    <p style="text-align: center;">
        Please join the nullcats discord channel within next 15 days.
        The program will be starting soon.
    </p>

    <footer style="background-color: black; padding: 8px; text-align: center;">
        <p style="color: white;">Powerd by Nullcast / Neoito</p>
    </footer>

</body>

</html>